/* ADD YOUR CUSTOM CSS TO THIS FILE */
/* 
Colors:
	#84BCDA Dark Sky Blue
	#FB5607 Orange Pantone
	#023047 Prussian Blue
	#F2E3BC Dutch White
	#FB8500 Tangerine
*/
h1{
	text-align: center;
	font-size: 50px;
	color: #FB5607;
}

h2{
	color: #FB5607;
}

body{
	background-color: #F2E3BC;
}

p{
	color: #84bcda;
	font-size: 20px;
}

.header{
	background-color: #023047;
}

.nav-link{
	color: #fb8500;

	padding-left: 50px;
	padding-right: 50px;
}

.btn{
	color: #fb8500;
	
	padding-left: 50px;
	padding-right: 50px;
}

.dropdown-item{
	color: #fb8500;
}

.who-are-we{
	border-radius: 20px;

	background-color: #023047;
	color: #84bcda;

	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.how-to-help{
	border-radius: 20px;

	background-color: #023047;
	color: #84bcda;

	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.carousel-item{
	max-height: 1000px;
}

/*About Us Styles*/
.headshot{
	border-radius: 20px;

	margin-top: 20px;
}

.txt-box{
	border-radius: 20px;

	margin-top: 20px;
	margin-bottom: 20px;

	padding-top: 10px;
	padding-bottom: 10px;

	background-color: #023047;
}

.card-group{
	margin-top: 20px;
	text-align: center;
}

.card{
	background-color: #023047;
}

.card-img-top{
	border-radius: 10px;
	padding-top: 1px;
}

.form-label{
	color: #FB5607;
}

.form-box{
	border-radius: 20px;

	margin-top: 40px;
	margin-bottom: 20px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;

	background-color: #023047;
}

.btn-primary{
	color: #FB5607;
	background-color: #84bcda;
	border: 0px;
}